@tailwind base;
@tailwind components;
@tailwind utilities;


.react-multi-carousel-dot-list {
bottom: -20px;
    
}

.react-multi-carousel-list{
    overflow: unset;
    overflow-x: clip;
}

.react-multiple-carousel__arrow{
    background-color: #A9A9A9;
}

.react-multi-carousel-dot button{
    border-color: #3b82f6;
}

.react-multi-carousel-dot--active button{
    background: #3b82f6;
    
}

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

.caption{
    font-style: italic;
    text-align: right;
    color: #797979;
    margin: 12px 0 24px 0;
}
.in-line-link{
    color: #3b82f6;
    font-style: italic;
    text-decoration: underline;
}
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #3b82f6;
    height: 5px;
    transform-origin: 0%;
  }
  .switch {
    width: 60px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
  }
  
  .switch[data-isOn="true"] {
    justify-content: flex-end;
  }
  
  .handle {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 40px;
  }

@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}