@tailwind base;
@tailwind components;
@tailwind utilities;


.react-multi-carousel-dot-list {
bottom: -20px;
    
}

.react-multi-carousel-list{
    overflow: unset;
    overflow-x: clip;
}

.react-multiple-carousel__arrow{
    background-color: #A9A9A9;
}

.react-multi-carousel-dot button{
    border-color: #3b82f6;
}

.react-multi-carousel-dot--active button{
    background: #3b82f6;
    
}

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

.caption{
    font-style: italic;
    text-align: right;
    color: #797979;
    margin: 12px 0 24px 0;
}
.in-line-link{
    color: #3b82f6;
    font-style: italic;
    text-decoration: underline;
}

@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}